[Desktop Entry]
Type=Application
Name=Ghidra
Comment=Software reverse engineering suite
Exec=/usr/local/bin/ghidra
Icon=applications-development
Terminal=false
Categories=Development;Debugger;
